.footer-cta {
    @include box-sizing();
    width: 100%;
    background-color: $footerBannerBG;
    padding: 2em;
    margin: 0;

    & .button--white {
        margin: 0 auto;
        max-width: 95%;
    }

    & .button--primary {
        margin: 1em auto !important;
    }

    @media #{$mq-640} {
        padding: 1.5em 0;

        & .button--white {
            display: inline-block;
            margin: 0 2em;
        }

        & .button--primary {
            margin: 1em 2em !important;
        }
    }
    @media #{$mq-medium} {
        & .button--primary {
            margin: 0 2em !important;
        }
    }
}

.footer-cta__title {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 1em 0;
    padding: 0;
    line-height: 1em;

    @media #{$mq-640} {
        margin: 0;
        display: inline-block;
    }
}

footer {
    @include box-sizing();
    background-color: $footerBG;
    padding: 2em 0 1em 0;
    margin: 0;

    @media #{$mq-640} {
        padding: 2em 0 3em 0;
    }
}

.footer-flex {
    width: $max-percent;
    max-width: $max-width;
    margin: 0 auto;
    color: #fff;
    font-size: .9em;

    & h3 {
        color: #fff;
        margin: 1em 0 0 0;
        padding: 0;
        line-height: 1em;
        //border-bottom: solid 1px $footerBorder;
        font-weight: 500;
        color: #fff;

        & a {
            text-decoration: underline;
            color: $footerButtonBG;

            &:hover {
                color: #fff;
                @include transition(opacity 300ms);
                opacity: .6;
            }
        }
    }

    & ul {
        margin: 0;
        padding: .5em 0 0 0;
    }

    & li {
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }

    & p {
        margin: 0;
        padding: .375em 0 .75em 0;
        line-height: 1.125em;
    }

    & a {
        @include transition(color 300ms);
        text-decoration: underline;
        color: $footerButtonBorder;
        padding-bottom: .75em;
        line-height: 1.5em;

        &:hover {
            color: lighten($footerButtonBorder, 20);
        }
    }

    .tel-link {
        text-decoration: none;
        color: #fff;
        @include no-select();

        &:hover {
            color: #fff;
        }
    }

    @media #{$mq-640} {
        display: flex;
        justify-content: space-between;
        flex-basis: 30%;


        & h3 {
            color: #fff;
            margin: 0;
        }
    }
}

.footer-flex__item {
    margin: 0 auto 2em auto;
    text-align: center;

    @media #{$mq-640} {
        width: 30%;
        text-align: left;
    }
}

.footer-copyright {
    color: $footerDarkContent;

    & p {
        margin: -.25em 0 0 0;
        padding: 0;
    }

    & a {
        opacity: .5;
        color: $footerDarkContent;
        line-height: 1.75em;
        text-decoration: underline;

        &:hover {
            color: #fff;
            opacity: 1;
        }
    }
}
